.footer_button {
  cursor:pointer;
}

div.page_footer {
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    background-color: #4E9ABE;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.footer_button {
    display: inline-block;
    width: 140px;
    margin-top: 3px;
}

/* スマートフォン対応 */
@media only screen and (max-width: 980px) {
	div.page-footer {
    	position: fixed !important;  
	    position: absolute;  
	    bottom: 0;  
	    left: 0;  
	    width: 100%;  
	    height: 100px;  
	    background-color: #4E9ABE;
	    color: #fff;
	    text-align: center;
	    font-size: 36px;
	    margin: 12px;
	}
}
