div.page-header { 
  position: fixed !important; 
  position: absolute; 
  top: 0; 
  left: 0;  
  width: 100%;  
  height: 130px;
  background-color: #4E9ABE;  
  color: #fff;
  padding-left: 10px;
}

div#title {
  float: left;
}

div#description {
  float: right;
  margin-top: 6px;
  margin-right: 0px;
  text-align: right;
  width: 320px;
}

div#description p {
  display: inline;
  margin-right: 20px;
  cursor:pointer;
}

div.page-header h1 {  
  margin-top: 10px;
  margin-bottom: 20px;
  cursor:pointer;
}

div#date_label {
  clear: both;
  float: left;
  display:inline;
  font-size: 14px;
  height: 24px;
  width: 140px;
  margin-left: 2px;
}

div#genre_label {
  float: left;
  display:inline;
  font-size: 14px;
  height: 24px;
  width: 140px;
  margin-left: 6px;
}

div#select_form {
  clear: both;
  float: left;
}

#select_tag {
  background: #FFFDF4;
  border: 0px solid #D2BA85;
  border-radius: 5px;
  color: #0C2245;
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  text-align: left;
  text-indent: 5px;
  vertical-align: middle;
  width: 140px;
  cursor:pointer;
}

#submit_tag {
  background: #E3DECC;
  border: 0px solid #D2BA85;
  border-radius: 5px;
  color: #666666;
  font-size: 12px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  margin-left: 8px;
  width: 90px;
  cursor:pointer;
}

/* ツールチップ対応 */
div.tooltip p{
  border-bottom:dashed 1px #555;
  font-size: 15px;
}

// ツールチップ部分を隠す
div.tooltip span {
  display: none;
}

// マウスオーバー
div.tooltip:hover {
  position: relative;
  color: #DADADA;
}

// マウスオーバー時にツールチップを表示
div.tooltip:hover span {
  display: block;
  text-align: left;
  position: absolute;
  top: 25px;
  font-size: 13px;
  color: #0C2245;
  background-color: #FFFDF4;
  width: 290px;
  padding: 8px;
  border-radius:3px;
  z-index:100;
}
 
// フキダシ部分を作成
div.tooltip span:before {
  content:''; 
  display:block; 
  position:absolute;
  height:0;
  width:0; 
  top:-13px;
  right:15px;
  border:13px transparent solid; 
  border-right-width:0;
  border-left-color:#FFFDF4;
  transform:rotate(270deg); //傾きをつける
  -webkit-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  z-index:100;
}

/* スマートフォン対応 */
@media only screen and (max-width: 980px) {
  div.page-header { 
    position: fixed !important; 
    position: absolute; 
    top: 0; 
    left: 0;  
    width: 100%;  
    height: 220px;
    background-color: #4E9ABE;  
    color: #fff;
    padding-left: 10px;
  }

  div.page-header h1 {  
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 72px;
  }
}
